on:
  workflow_call:
    inputs:
      release-version:
        required: true
        type: string

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: NPM cache
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ubuntu-android-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ubuntu-android-node-

      - name: Gradle cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ubuntu-android-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ubuntu-android-gradle-

      - name: Install npm dependencies
        run: npm install

      - name: Run lint
        run: npm run lint

      - name: Run test
        run: npm run test

      - name: Install JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Install bundler
        run: |
          sudo gem install bundler
          sudo bundle update --bundler

      - name: Android build
        run: npm run build-android -- release_version:${{ inputs.release-version }}

      - name: Upload Android application
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          files: fastlane/vividus-test-app-android-${{ inputs.release-version }}.zip
          tag_name: ${{ inputs.release-version }}
