on:
  workflow_call:
    inputs:
      release-version:
        required: true
        type: string

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: NPM cache
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: macos-ios-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            macos-ios-node-

      - name: Cocoapods cache
        uses: actions/cache@v5
        with:
          path: ios/Pods
          key: macos-ios-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            macos-ios-pods-

      - name: Install npm dependencies
        run: npm install

      - name: Run lint
        run: npm run lint

      - name: Run test
        run: npm run test

      - name: Install bundler
        run: |
          sudo bundle update --bundler
          sudo bundle install

      - name: iOS build
        run: |
          npm run build-ios -- release_version:${{ inputs.release-version }}

      - name: Upload iOS application
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          files: fastlane/vividus-test-app-ios-${{ inputs.release-version }}.zip
          tag_name: ${{ inputs.release-version }}
