on:
  workflow_call:
    inputs:
      release-version:
        required: true
        type: string

jobs:
  upload:
    runs-on: ubuntu-latest

    env:
      SAUCELABS_USER: ${{ secrets.SAUCELABS_USER }}
      SAUCELABS_KEY: ${{ secrets.SAUCELABS_KEY }}
    
    steps:
      - name: Upload release builds
        run: |
          readonly platforms=(ios android)
          for platform in ${platforms[@]};
          do
            echo "---------------------------------------------------------------"
            echo "Upload release build version ${{ inputs.release-version }} for ${platform}"
            echo "---------------------------------------------------------------"

            appFile=vividus-test-app-${platform}-${{ inputs.release-version }}.zip
            curl -L https://github.com/vividus-framework/vividus-test-app/releases/download/${{ inputs.release-version }}/vividus-test-app-${platform}-${{ inputs.release-version }}.zip --output ${appFile}
            curl -v --fail-with-body -u ${SAUCELABS_USER}:${SAUCELABS_KEY} --location --request POST 'https://api.eu-central-1.saucelabs.com/v1/storage/upload' --form 'payload=@"${appFile}"' --form 'name="${appFile}"'
          done  
